@import 'colors/OneDark.css';

* {
    border: 0;
    border-radius: 18px;

    font-size: 9px;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;

    padding: 0;
    margin: 0;
    min-height: 0;

}

window#waybar {
    background-color: transparent;
}

#custom-arch,
#workspaces,
tooltip,
menu,
menuitem,
#network.up,
#network.down,
#network.split,
#clock.clk,
#clock.date,
#cpu,
#memory,
#custom-split,
#temperature,
#pulseaudio,
#tray,
#power-profiles-daemon,
#battery,
#custom-notification {
    background-color: @bg0;
    padding: 0 8px 0 8px;
}

/* MODULES RIGHT */

#notif{
    padding: 2px 5px;
    background-color: @fg;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.717);
}

#notif.pills {
    box-shadow: none;
    padding: 0 6px 6px 6px;
    margin: 0;
    background-color: transparent;
}

#custom-notification {
    color: @fg;
}

#custom-notification:hover {
    color: alpha(@fg, 0.4);
}


#bat {
    background-color: @green;
    padding: 2px 0px 2px 5px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.717);
}

#bat.pills {
    box-shadow: none;
    padding: 0 6px 6px 6px;
    margin: 0;
    background-color: transparent;
}


#power-profiles-daemon,
#battery {
    color: @green;
}

#power-profiles-daemon {
    padding-right: 6px;
    color: @bg0;
    background-color: @green;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

#power-profiles-daemon:hover {
    color: alpha(@bg, 0.4);
}

#battery {
    padding-left: 7px;
    border-left: 0;
    margin-right: 2px;
}

#trayer {
    padding: 2px 2px 2px 2px;
    background: linear-gradient(to right, @yellow, @green);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.717);

}

#trayerr.pills {
    padding: 0 6px 6px 6px;
    margin: 0;
}

#audio {
    background-color: @yellow;
    padding: 2px 0px 2px 0px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.717);

}

#audio.pills {
    box-shadow: none;
    padding: 0 6px 6px 6px;
    margin: 0;
    background-color: transparent;
}

#pulseaudio.percentage {
    margin: 0;
    color: @yellow;
    margin-left: 2px;
}

#pulseaudio.icon {
    margin: 0;
    padding-left: 6px;
    background-color: @yellow;
    color: @bg0;
}

#pulseaudio.icon:hover {
    color: alpha(@bg, 0.4);
}

/* MODULES RIGHT END */

/* MODULE CENTER */

#center {
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.717);
}

#center.pills {
    box-shadow: none;
    padding: 0 6px 6px 6px;
    margin: 0;
}

#custom-split.center-left,
#custom-split.center-right {
    background: @aqua;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    color: transparent;
}


#custom-split.center-right {
    background: @purple;
}

#pc {
    background-color: @purple;
    padding: 2px 5px 2px 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#cpu,
#memory,
#temperature,
#custom-split.pc {
    color: @purple;
    border-width: 0;
}

#cpu {
    padding-right: 5px;
    padding-left: 25px;
    min-width: 50px; 
    background-image: radial-gradient(ellipse 15px 15px at left,
            @purple 0%,
            @purple 95%,
            @bg0 100%);
    border-radius: 0;
    border-right: 0;
}

#cpu:hover {
    color: alpha(@purple, 0.4);
}

#temperature {
    padding-left: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

#memory {
    padding: 0 5px 0 5px;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

#memory:hover {
    color: alpha(@purple, 0.4);
}

#custom-split.pc {
    padding: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

#clkd {
    background: linear-gradient(to right, @aqua, @purple);
    border-radius: 0;
}

#clock.clk,
#clock.date,
#custom-split.clkd {
    background-color: transparent;
    color: @bg0;
    border-radius: 0;
    border: 0;
    padding: 0;
}

#clock.clk,
#clock.date {
    font-size: 11px;
    border-right: 0;
    border-left: 0;
}

#custom-split.clkd {
    padding: 0 8px;
    border-right: 0;
    border-left: 0;
}

#net {
    background-color: @aqua;
    padding: 2px 0px 2px 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#network.up,
#network.down,
#network.split {
    color: @aqua;
    min-width: 65px;
    border: 0;
}

#network.up {
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}


#network.up:hover {
    color: alpha(@aqua, 0.4);
}

#network.down {
    padding-right: 25px;
    background-image: radial-gradient(ellipse 15px 15px at right,
            @aqua 0%,
            @aqua 95%,
            @bg0 100%);
    border-left: 0;
    border-radius: 0;
}


#network.down:hover {
    color: alpha(@aqua, 0.4);
}

#network.split {
    padding: 0;
    min-width: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

/* MODULE CENTER END */

/* MODULES LEFT */

#arch{
    background-color: @fg;
    padding: 2px 5px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.717);
}

#arch.pills {
    box-shadow: none;
    padding: 0 6px 6px 6px;
    margin: 0;
    background-color: transparent;
}

#custom-arch {
    font-size: 1rem;
    color: @fg;
}

#work {
    background-color: @blue;
    padding: 2px 2px 2px 2px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.717);
}

#work.pills{
    box-shadow: none;
    padding: 0 6px 6px 6px;
    margin: 0;
    background-color: transparent;
}


#workspaces {
    padding: 0;
    border: 0;
    color: @fg;
    background-color: @bg0;
    transition: all 0.3s ease-in-out;
}

#workspaces button {
    background-color: inherit;
    border-radius: inherit;
    padding: 0 12px;
}

#workspaces button.active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 20px;
    background-color: @blue;
    margin-left: -1px;
    min-width: 25px;
    color: @bg0;
}

#workspaces button.active:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-right: calc(12px);
    margin-right: -1px;

}

#workspaces button.active+button {
    margin-left: -18px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 40px;
    background-size: 400% 400%;
}

#workspaces button:hover:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-right: calc(8px+2px);
}

#workspaces button:hover+button {
    margin-left: -12px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 40px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-right: calc(12px+2px);
}

#workspaces button.urgent+button {
    margin-left: -12px;
}

/* MODULES LEFT END */

menu {
    padding: 10px;
}

menuitem {
    border: 0;
    border-bottom: 1px solid @fg;
    border-radius: 0;
}

menuitem:hover {
    color: @fg;
}

tooltip label {
    color: @fg;
    padding: 6px;
}
